// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$lw-beige: #fcf5e8;
$lw-red: #f81015;
$lw-pink: #fde0e1;
$lw-blue: #60b3ff;
$lw-white: #fffdff;
$lw-black: #1f1111;
$lw-grey: #f2f2f2;
